body {
  background:linear-gradient(to right, #3f5efb, #fc466b );
}

.wrapper{
    width: 70%;
    margin: auto;
    text-align: center;
}

h1{
    margin: 20px;
    font-size: 6rem;
    color: rgb(235, 240, 243);
}

.dice-area{
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

p{
    font-size: 3.5rem;
    color:rgb(235, 240, 243);

}

img{
    width: 160px;

}


.button {
    border: none;
    background-color:#532be2;
    display: block;
    padding: 15px 32px;
    color: white;
    text-align: center;
    margin: 10px 100px;
    border-radius: 5px;
    cursor: pointer;
   
  }

  .player-current-box {
    background: linear-gradient(52deg, rgb(37, 52, 169) 33%, rgb(172, 29, 144) 77%);
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
  }

  .player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
  }
  
  .player-current-score {
    font-size: 30px;
  }

  .btn {

    display: inline-flex;
    height: 40px;
    padding: 0;
    background: #de8bec;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
  
  
  }

  .btn:hover {
    background: #c321d5;
  }  
  
  .btn:active {
    background: #de8bec;
  }  
  
  .button_text,
  .button_icon {
  
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button_icon{
    font-size: 3em;
    background: rgba(0,0,0,0.05);
  }



  